{
  "openapi": "3.0.0",
  "info": {
    "version": "0.1.0-alpha",
    "title": "short API",
    "contact": {
      "email": "info@oppie.io"
    },
    "x-logo": {
      "url": "assets/img/oppie-logo.png",
      "href": "https://short.oppie.io"
    },
    "description": "Domain-specific content summarization.\n# Overview\nIntegrate in a snap with a **production-grade** content summarizer.\n\nPowered by machine learning, **short** implements a model trained via [unsupervised learning using sentence embeddings](https://www.cs.utexas.edu/~asaran/reports/summarization.pdf) and tailored for particular use cases.\n## Release Warning*\nThe following documentation and subsequent API is __subject to change__ as the service is currently in an `alpha` state.\n## API Host\nAll requests are made to the following root URL with the `/api` prefix.\n\n`https://short.oppie.io/api`\n"
  },
  "externalDocs": {
    "description": "short.oppie.io",
    "url": "https://short.oppie.io"
  },
  "tags": [
    {
      "name": "Condense Content",
      "description": "Operations for condensing content using the **short** machine learning model."
    }
  ],
  "servers": [
    {
      "url": "https://short.oppie.io/api"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/digest": {
      "post": {
        "tags": [
          "Condense Content"
        ],
        "summary": "digest",
        "description": "Summarizes content provided to it.",
        "operationId": "postDigest",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DigestResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DigestRequest"
              }
            }
          },
          "description": "Parameters for shortening of strings",
          "required": true
        },
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "const API_KEY = '{apiKey}';\n\ntry {\n  const req = await fetch('https://short.oppie.io/api/digest', {\n    method: 'POST',\n    headers: {\n      'Content-Type': 'application/json',\n      'X-API-KEY': API_KEY\n    },\n    body: JSON.stringify({\n      content: `Enlightenment is man's emergence from his self-imposed nonage. Nonage is the inability to use one's own understanding without another's guidance. This nonage is self-imposed if its cause lies not in lack of understanding but in indecision and lack of courage to use one's own mind without another's guidance. Dare to know! (Sapere aude.) \"Have the courage to use your own understanding,\" is therefore the motto of the enlightenment.`\n    })\n  });\n\n  const resBody = await req.json();\n\n  console.log(resBody);\n} catch (err) {\n  console.error(err);\n}"
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "DigestRequest": {
        "type": "object",
        "properties": {
          "content": {
            "$ref": "#/components/schemas/RawContent"
          }
        }
      },
      "DigestResponse": {
        "type": "object",
        "properties": {
          "digest": {
            "description": "Condensed content",
            "type": "string",
            "example": "Nonage is the inability to use one's own understanding without another's guidance. Dare to know! (Sapere aude.)"
          },
          "inputLength": {
            "description": "Character length of the `content` input",
            "type": "number",
            "example": 432
          },
          "outputLength": {
            "description": "Character length of the `digest` output",
            "type": "number",
            "example": 111
          },
          "reduction": {
            "description": "Fraction of the original character length after condensing",
            "type": "number",
            "example": 0.7430555555555556
          }
        }
      },
      "RawContent": {
        "description": "Raw content to be summarized",
        "type": "string",
        "minLength": 100,
        "example": "Enlightenment is man's emergence from his self-imposed nonage. Nonage is the inability to use one's own understanding without another's guidance. This nonage is self-imposed if its cause lies not in lack of understanding but in indecision and lack of courage to use one's own mind without another's guidance. Dare to know! (Sapere aude.) \"Have the courage to use your own understanding,\" is therefore the motto of the enlightenment."
      },
      "UnauthorizedErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "description": "Authentication information is missing or invalid",
            "type": "string",
            "example": "Unauthorized"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY",
        "description": "Using the `apiKey` associated with your account, set the `X-API-KEY` header in the request to its value."
      }
    }
  }
}
